:root {
    --margin-scale: 1;
    --mobile-width: 950px;
}

body {
    margin: 0;
    background-color: lightblue;
    padding: 1vw;
}

#middle {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 2rem;

    width: auto;

    min-height: 100vh;
}

#middle > * {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: grey;
    box-shadow: 3px 3px grey;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 30px;
    background-color: #f5f5f5;
    padding: 1rem;
}

#title {
    color: lightskyblue;
    text-shadow: -0.5px 0 grey, 0 1px grey, 0.5px 0 grey, 0 -0.5px grey;
    font-size: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    float: right;
    /* padding: 1rem; */
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    margin-right: auto;
    font-size: 2rem;

    a {
        color: lightskyblue;
        text-decoration: none;
    }

    & :hover {
        color: blue;
    }
}

article {
    background-color: whitesmoke;
    height: auto;
    padding: 0.5rem;
    /* border-color: grey; */
    /* rgba(255, 100, 100, 0.4); */
    font-family: arial;
    padding: 3rem;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

@media (950px < width) {
    #middle {
        margin-left: calc(var(--margin-scale) * (100vw - var(--mobile-width)) / 2);
        margin-right: calc(var(--margin-scale) * (100vw - var(--mobile-width)) / 2);
    }
}

@media (950px < width <= 1170px) and (height > 1000px) {
    body {
        background-color: red;
    }

    #title {
    font-size: 6rem;
    }

    nav ul li {
    font-size: 4rem;
    }

    h1 {
    font-size: 4rem;
    }

    p {
    font-size: 3rem;
    /* line-spacing:  */
    }
}